openapi: 3.0.1
info:
  contact:
    email: support@pluxbox.com
    name: Pluxbox
    url: https://pluxbox.com
  description: RadioManager
  license:
    name: License
    url: https://pluxbox.com/license
  termsOfService: https://pluxbox.com/tos
  title: RadioManager
  version: "2.0"
servers:
- url: https://radiomanager.io/api/v2
- url: http://radiomanager.io/api/v2
tags:
- description: Items
  name: Items
- description: Broadcasts
  name: Broadcasts
- description: Blocks
  name: Block
- description: Campaigns
  name: Campaign
- description: Contacts
  name: Contact
- description: Stories
  name: Story
- description: Genre's
  name: Genre
- description: Model Type's
  name: ModelType
- description: Presenters
  name: Presenter
- description: Programs
  name: Program
- description: PTYCodes
  name: PTYCode
- description: Real Time API
  name: RealTimeAPI
- description: Roles
  name: Role
- description: Stations
  name: Station
- description: Station Settings
  name: StationSetting
- description: Tags
  name: Tag
- description: Templates
  name: Template
- description: Users
  name: User
- description: Visual Slides
  name: VisualSlide
- description: Strings
  name: String
paths:
  /blocks:
    get:
      description: Get a list of all blocks currently in your station. This feature
        supports pagination and will give a maximum of 50 blocks back.
      operationId: listBlocks
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Search on Broadcast ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: broadcast_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Item ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: item_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Program ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: program_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Minimum start date *(Optional)*
        explode: true
        in: query
        name: start-min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Maximum start date *(Optional)*
        explode: true
        in: query
        name: start-max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResults'
          description: Successfully got all blocks
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get a list of all blocks currently in your station.
      tags:
      - Block
  /blocks/{id}:
    get:
      description: Get block by id
      operationId: getBlockById
      parameters:
      - description: ID of Block **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResult'
          description: Successfully got Block by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get block by id
      tags:
      - Block
  /blocks/current:
    get:
      description: Get current Block
      operationId: getCurrentBlock
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResult'
          description: Successfully got current Block
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get current Block
      tags:
      - Block
  /blocks/next:
    get:
      description: Get upcoming Block
      operationId: getNextBlock
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResult'
          description: Successfully got upcoming Block
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get upcoming Block
      tags:
      - Block
  /broadcasts:
    get:
      description: List all broadcasts.
      operationId: listBroadcasts
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Search on Program ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: program_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Block ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: block_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on ModelType ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: model_type_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Tag ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: tag_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Presenter ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: presenter_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Genre ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: genre_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Item ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: item_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Minimum start date *(Optional)*
        explode: true
        in: query
        name: start-min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Maximum start date *(Optional)*
        explode: true
        in: query
        name: start-max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastResults'
          description: Successfully got all broadcasts
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get all broadcasts.
      tags:
      - Broadcast
    post:
      description: Create broadcast.
      operationId: createBroadcast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastDataInput'
        description: Data **(Required)**
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSuccess'
          description: Successfully created a broadcast
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Create broadcast.
      tags:
      - Broadcast
      x-codegen-request-body-name: data
  /broadcasts/{id}:
    delete:
      description: Delete broadcast by id
      operationId: deleteBroadcastById
      parameters:
      - description: ID of Broadcast **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully deleted Broadcast by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Delete broadcast by id
      tags:
      - Broadcast
    get:
      description: Get broadcast by id
      operationId: getBroadcastById
      parameters:
      - description: ID of Broadcast **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastResult'
          description: Successfully got Broadcast by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get broadcast by id
      tags:
      - Broadcast
    patch:
      description: Update broadcast by id
      operationId: updateBroadcastByID
      parameters:
      - description: ID of Broadcast **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastDataInput'
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully updated Broadcast by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Update broadcast by id
      tags:
      - Broadcast
      x-codegen-request-body-name: data
  /broadcasts/current:
    get:
      description: Get current Broadcast
      operationId: getCurrentBroadcast
      parameters:
      - description: Show Unpublished *(Optional)*
        explode: true
        in: query
        name: withunpublished
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastResult'
          description: Successfully got current Broadcast
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get current Broadcast
      tags:
      - Broadcast
  /broadcasts/next:
    get:
      description: Get next Broadcast
      operationId: getNextBroadcast
      parameters:
      - description: Show Unpublished *(Optional)*
        explode: true
        in: query
        name: withunpublished
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastResult'
          description: Successfully got next Broadcast
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get next Broadcast
      tags:
      - Broadcast
  /broadcasts/epg:
    get:
      description: Get EPG by date
      operationId: getEPGByDate
      parameters:
      - description: Date *(Optional)*
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Show Unpublished *(Optional)*
        explode: true
        in: query
        name: withunpublished
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EPGResults'
          description: Successfully got EPG by week
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get EPG by date
      tags:
      - Broadcast
  /broadcasts/epg/daily:
    get:
      description: Get current Broadcast
      operationId: getDailyEPG
      parameters:
      - description: Date *(Optional)*
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Show Unpublished *(Optional)*
        explode: true
        in: query
        name: withunpublished
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EPGResults'
          description: Successfully got EPG by week
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get daily EPG
      tags:
      - Broadcast
  /broadcasts/epg/weekly:
    get:
      description: Get weekly EPG
      operationId: getWeeklyEPG
      parameters:
      - description: Date *(Optional)*
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: 'date '
          type: string
        style: form
      - description: Show Unpublished *(Optional)*
        explode: true
        in: query
        name: withunpublished
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EPGResults'
          description: Successfully got EPG by week
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get weekly EPG
      tags:
      - Broadcast
  /broadcasts/print/{id}:
    get:
      description: Print broadcast by id with template
      operationId: printBroadcastById
      parameters:
      - description: ID of Broadcast **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Search on template ID *(Optional)*
        explode: true
        in: query
        name: template_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example: <html></html>
                type: string
          description: Successfully printed Broadcast by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Print broadcast by id with template
      tags:
      - Broadcast
  /campaigns:
    get:
      description: List all campaigns.
      operationId: listCampaigns
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Search on Item ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: item_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on ModelType ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: model_type_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Minimum start date *(Optional)*
        explode: true
        in: query
        name: start-min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Maximum start date *(Optional)*
        explode: true
        in: query
        name: start-max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResults'
          description: Successfully got all campaigns
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get all campaigns.
      tags:
      - Campaign
    post:
      description: Create campaign.
      operationId: createCampaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignDataInput'
        description: Data **(Required)**
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSuccess'
          description: Successfully created a campaign
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Create campaign.
      tags:
      - Campaign
      x-codegen-request-body-name: data
  /campaigns/{id}:
    delete:
      description: Delete campaign by id
      operationId: deleteCampaignById
      parameters:
      - description: ID of Campaign **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully deleted Campaign by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Delete campaign by id
      tags:
      - Campaign
    get:
      description: Get campaign by id
      operationId: getCampaignById
      parameters:
      - description: ID of Campaign **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResult'
          description: Successfully got Campaign by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get campaign by id
      tags:
      - Campaign
    patch:
      description: Update campaign by id
      operationId: updateCampaignByID
      parameters:
      - description: ID of Campaign **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignDataInput'
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully updated Campaign by ID
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Update campaign by id
      tags:
      - Campaign
      x-codegen-request-body-name: data
  /contacts:
    get:
      description: List all contacts.
      operationId: listContacts
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Search on Item ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: item_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on ModelType ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: model_type_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Tag ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: tag_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResults'
          description: Successfully got all contacts
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get all contacts.
      tags:
      - Contact
    post:
      description: Create contact.
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDataInput'
        description: Data **(Required)**
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSuccess'
          description: Successfully created a contact
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Create contact.
      tags:
      - Contact
      x-codegen-request-body-name: data
  /contacts/{id}:
    delete:
      description: Delete contact by id
      operationId: deleteContactById
      parameters:
      - description: ID of Contact **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully deleted Contact by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Delete contact by id
      tags:
      - Contact
    get:
      description: Get contact by id
      operationId: getContactById
      parameters:
      - description: ID of Contact **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResult'
          description: Successfully got Contact by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get contact by id
      tags:
      - Contact
    patch:
      description: Update contact by id
      operationId: updateContactByID
      parameters:
      - description: ID of Contact **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDataInput'
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully updated Contact by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Update contact by id
      tags:
      - Contact
      x-codegen-request-body-name: data
  /genres:
    get:
      description: List all genres.
      operationId: listGenres
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Search on Parent ID of Genre *(Optional)*
        explode: true
        in: query
        name: parent_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Program ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: program_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Broadcast ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: broadcast_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResults'
          description: Successfully got all genres
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: List all genres.
      tags:
      - Genre
  /genres/{id}:
    get:
      description: Get genre by id
      operationId: getGenreById
      parameters:
      - description: ID of Genre **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResult'
          description: Successfully got Genre by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get genre by id
      tags:
      - Genre
  /items:
    get:
      description: Get a list of all the items currently in your station. This feature
        supports pagination and will give a maximum results of 50 items back.
      operationId: listItems
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Search on Block ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: block_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Broadcast ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: broadcast_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on ModelType ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: model_type_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Tag ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: tag_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Campaign ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: campaign_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Contact ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: contact_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Program Draft ID *(Optional)*
        explode: true
        in: query
        name: program_draft_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on User Draft ID *(Optional)*
        explode: true
        in: query
        name: user_draft_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Station Draft ID *(Optional)*
        explode: true
        in: query
        name: station_draft_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Program ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: program_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on External ID *(Optional)*
        explode: true
        in: query
        name: external_id
        required: false
        schema:
          type: string
        style: form
      - description: Minimum start date *(Optional)*
        explode: true
        in: query
        name: start-min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Maximum start date *(Optional)*
        explode: true
        in: query
        name: start-max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Minimum duration (seconds) *(Optional)*
        explode: true
        in: query
        name: duration-min
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum duration (seconds) *(Optional)*
        explode: true
        in: query
        name: duration-max
        required: false
        schema:
          type: integer
        style: form
      - description: Play Status of item *(Optional)*
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - scheduled
          - playing
          - played
          type: string
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResults'
          description: Successfully got all items
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get a list of all the items currently in your station.
      tags:
      - Item
    post:
      description: Create item.
      operationId: createItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemDataInput'
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSuccess'
          description: Successfully created an item
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Create an new item.
      tags:
      - Item
      x-codegen-request-body-name: data
  /items/{id}:
    delete:
      description: Delete item by id.
      operationId: deleteItemById
      parameters:
      - description: ID of Item **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Item has been marked for deletion
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
      security:
      - API-Key: []
      summary: Delete item by ID.
      tags:
      - Item
    get:
      description: Read item by id.
      operationId: getItemById
      parameters:
      - description: ID of Item **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResult'
          description: Successfully got an item by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get extended item details by ID.
      tags:
      - Item
    patch:
      description: Update item by id.
      operationId: updateItemById
      parameters:
      - description: ID of Item **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemDataInput'
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully updated an item
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Update extended item details by ID.
      tags:
      - Item
      x-codegen-request-body-name: data
  /items/current:
    get:
      description: Get current Item
      operationId: getCurrentItem
      parameters:
      - description: Show last played item if there is no current item*(Optional)*
        explode: true
        in: query
        name: lastplayed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResult'
          description: Successfully got current item
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Item has been marked for deletion
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
      security:
      - API-Key: []
      summary: Get current Item
      tags:
      - Item
  /items/current/timing:
    post:
      description: Post a current playing item
      operationId: currentItemPostTiming
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportItem'
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully posted current item
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Post a current playing item
      tags:
      - Item
      x-codegen-request-body-name: data
  /items/current/structure:
    post:
      description: Post a current playing item, keep structure
      operationId: currentItemPostStructure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportItem'
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully posted current item
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Post a current playing item, keep structure
      tags:
      - Item
      x-codegen-request-body-name: data
  /items/playlist/timing:
    post:
      description: Post a playlist
      operationId: playlistPostTiming
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                start:
                  example: 2017-06-23T12:00:00+02:00
                  format: date-time
                  type: string
                allow_playlist_past:
                  example: 0
                  type: integer
                items:
                  items:
                    $ref: '#/components/schemas/ImportItem'
                  type: array
              type: object
        description: Data *(Optional)*
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
      security:
      - API-Key: []
      summary: Post a playlist
      tags:
      - Item
      x-codegen-request-body-name: data
  /items/playlist/structure:
    post:
      description: Post a playlist, keep current structure
      operationId: playlistPostStructure
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                start:
                  example: 2017-06-23T12:00:00+02:00
                  format: date-time
                  type: string
                allow_playlist_past:
                  example: 0
                  type: integer
                items:
                  items:
                    $ref: '#/components/schemas/ImportItem'
                  type: array
              type: object
        description: Data *(Optional)*
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
      security:
      - API-Key: []
      summary: Post a playlist, keep current structure
      tags:
      - Item
      x-codegen-request-body-name: data
  /items/playlist/merge:
    post:
      description: Post a playlist, do not remove previously imported items
      operationId: playlistPostMerge
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                start:
                  example: 2017-06-23T12:00:00+02:00
                  format: date-time
                  type: string
                allow_playlist_past:
                  example: 0
                  type: integer
                before_id:
                  example: 0
                  type: integer
                previous_id:
                  example: 0
                  type: integer
                items:
                  items:
                    $ref: '#/components/schemas/ImportItem'
                  type: array
              type: object
        description: Data *(Optional)*
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
      security:
      - API-Key: []
      summary: Post a playlist, do not remove previously imported items
      tags:
      - Item
      x-codegen-request-body-name: data
  /items/stopcurrent:
    post:
      description: Set a current playing or specific item on played
      operationId: stopCurrentItem
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                id:
                  example: 1
                  type: integer
              type: object
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully stopped item
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Stop an Item
      tags:
      - Item
      x-codegen-request-body-name: data
  /model_types:
    get:
      description: List all modelTypes.
      operationId: listModelTypes
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Search on Program ID *(Optional)*
        explode: true
        in: query
        name: program_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Broadcast ID *(Optional)*
        explode: true
        in: query
        name: broadcast_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Item ID *(Optional)*
        explode: true
        in: query
        name: item_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Campaign ID *(Optional)*
        explode: true
        in: query
        name: campaign_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Presenter ID *(Optional)*
        explode: true
        in: query
        name: presenter_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Contact ID *(Optional)*
        explode: true
        in: query
        name: contact_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search Modeltypes for certain Model *(Optional)*
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - broadcast
          - program
          - item
          - campaign
          - presenter
          - contact
          - external
          type: string
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelTypeResults'
          description: Successfully got all modelTypes
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get all modelTypes.
      tags:
      - ModelType
  /model_types/{id}:
    get:
      description: Get modelType by id
      operationId: getModelTypeById
      parameters:
      - description: ID of ModelType **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelTypeResult'
          description: Successfully got ModelType by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get modelType by id
      tags:
      - ModelType
  /presenters:
    get:
      description: List all presenters.
      operationId: listPresenters
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Search on Program ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: program_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Broadcast ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: broadcast_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on ModelType ID (Optional)
        explode: true
        in: query
        name: model_type_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenterResults'
          description: Successfully got all presenters
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get all presenters.
      tags:
      - Presenter
    post:
      description: Create presenter.
      operationId: createPresenter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenterDataInput'
        description: Data **(Required)**
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSuccess'
          description: Successfully created a presenter
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Create presenter.
      tags:
      - Presenter
      x-codegen-request-body-name: data
  /presenters/{id}:
    delete:
      description: Delete presenter by id
      operationId: deletePresenterById
      parameters:
      - description: id of presenter
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully deleted presenter by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Delete presenter by id
      tags:
      - Presenter
    get:
      description: Get presenter by id
      operationId: getPresenterById
      parameters:
      - description: id of Presenter
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenterResult'
          description: Successfully got Presenter by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get presenter by id
      tags:
      - Presenter
    patch:
      description: Update presenter by id
      operationId: updatePresenterByID
      parameters:
      - description: id of Presenter
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenterDataInput'
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully updated Presenter by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Update presenter by id
      tags:
      - Presenter
      x-codegen-request-body-name: data
  /programs:
    get:
      description: List all programs.
      operationId: listPrograms
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Search on Broadcast ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: broadcast_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on ModelType ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: model_type_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Tag ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: tag_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Presenter ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: presenter_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Genre ID *(Optional)*
        explode: true
        in: query
        name: genre_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Block ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: block_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Item ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: item_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Disabled status *(Optional)*
        explode: true
        in: query
        name: disabled
        required: false
        schema:
          maximum: 1
          minimum: 0
          type: integer
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramResults'
          description: Successfully got all programs
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get all programs.
      tags:
      - Program
    post:
      description: Create program.
      operationId: createProgram
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramDataInput'
        description: Data **(Required)**
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSuccess'
          description: Successfully created a program
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Create program.
      tags:
      - Program
      x-codegen-request-body-name: data
  /programs/{id}:
    delete:
      description: Delete program by id
      operationId: deleteProgramById
      parameters:
      - description: ID of program **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully deleted program by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Delete program by id
      tags:
      - Program
    get:
      description: Get program by id
      operationId: getProgramById
      parameters:
      - description: ID of Program **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramResult'
          description: Successfully got Program by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get program by id
      tags:
      - Program
    patch:
      description: Update program by id
      operationId: updateProgramByID
      parameters:
      - description: ID of Program **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramDataInput'
        description: Data *(Optional)*
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully updated Program by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Update program by id
      tags:
      - Program
      x-codegen-request-body-name: data
  /station:
    get:
      description: Get own station only
      operationId: getStation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationResult'
          description: Station
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get own station only
      tags:
      - Station
  /stories:
    get:
      description: List all stories.
      operationId: listStories
      parameters:
      - description: Current page *(Optional)*
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Search on Item ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: item_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on ModelType ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: model_type_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Search on Tag ID *(Optional)* `(Relation)`
        explode: true
        in: query
        name: tag_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Results per page *(Optional)*
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Field to order the results *(Optional)*
        explode: true
        in: query
        name: order-by
        required: false
        schema:
          type: string
        style: form
      - description: Direction of ordering *(Optional)*
        explode: true
        in: query
        name: order-direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryResults'
          description: Successfully got all stories
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Get all stories.
      tags:
      - Story
    post:
      description: Create story.
      operationId: createStory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoryDataInput'
        description: Data **(Required)**
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSuccess'
          description: Successfully created a story
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Create story.
      tags:
      - Story
      x-codegen-request-body-name: data
  /stories/{id}:
    delete:
      description: Delete story by id
      operationId: deleteStoryById
      parameters:
      - description: ID of Story **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
          description: Successfully deleted Story by id
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
      security:
      - API-Key: []
      summary: Delete story by id
      tags:
      - Story
    get:
      description: Get story by id
      operationId: getStoryById
      parameters:
      - description: ID of Story **(Required)**
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: simple
      - description: Query on a different (content providing) station *(Optional)*
        explode: true
        in: query
        name: _external_station_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
